/* 
CSS For Messaging app
Copyright 2022 Tenoqu Co. 
Front-End by @GreenWorld#0001 & @EnderKingJ#0001
Backend by @EnderKingJ#0001
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  background: #323232;
  font-family: "Open Sans", sans-serif;
}

#app {
  width: 100%;
  height: 100vh;
}