/* 
assets/app.css
// Copyright 2022 Tenoqu  Inc.
// Front-end by GreenWorld#0001 
// Back-end by EnderKingJ#0001 
// This website and it's function is completely closed source. Please do not attempt to release it's source.
// Terms of Service: https://tenoqu.xyz/terms
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  background: #323232;
  
}

#app {
  width: 100%;
  height: 100vh;
}


