@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

*, *:before, *:after {  box-sizing: border-box; }

html { background: radial-gradient(ellipse at top, #40485a 0%, #282e3a 60%);  height: 100%; width: 100%; }

body { height: 100%; width: 100%; overflow:hidden;}

#envelope{
  margin: 100px auto 0;
  position: relative;
  width: 0;
  height: 0;
  z-index: 0;
  border-style: solid;
  border-width: 0 150px 100px 150px;
  border-color: transparent transparent #256a98 transparent;
  box-shadow: 0 100px 0 0 #256a98,
              0 150px 90px 0 rgba(0,0,0,0.3);
}

#envelope:after,
#envelope:before{
	content:'';
	display: block;
	position: absolute;
	top: 100px;
	border-style: solid;
}

#envelope:after{
  width: 0;
  height: 0;
  left: 0;
  border-width: 100px 150px 100px 0;
  border-color: transparent #2a7fb5 transparent transparent;
}

#envelope:before{
  width: 210px;
  height: 180px;
  left:-150px;
  border-width: 200px 0 0 300px;
  border-color: transparent transparent transparent #3596da;
}

#envelope:hover #card {
	top:-20px;
}

#card{
	width:260px;
	height: 220px;
	position: absolute;
	top:70px;
	left:-130px;
	z-index: -1;
	background: #dcdcdc;
	border-radius: 5px;
	transition: top 0.5s ease-in-out;
  font: bold 1.2em/1.1em 'Open Sans Condensed', sans-serif;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	padding: 130px 0 0 0;
	color: #919499;
}

#card p {
  width: 150px;
  margin: 0 auto;
}

#dribbble{
  top: 25px;
  left: 90px;
  right: -25px;
  background: #ef5b93;
  height: 80px;
  width: 80px;
  border: 5px solid #c5376d;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 0 0 5px #eee,
              inset -20px -60px 0 -22px #ef5b93,
              inset -20px -60px 0 -17px #c5376d;}

#dribbble:before,
#dribbble:after{
  content:'';
  display: block;
  border: 5px solid #c5376d;
  border-radius: 100%;
  width: 170px;
  height: 190px;
  background: transparent;
  position: absolute;
}

#dribbble:before{
  top: 30px;
  left: -18px;
}

#dribbble:after{
  top: -30px;
  left: -120px;
  height: 200px;
}